@model ContinuousDelivery.ViewModels.IndexViewModel

@{ViewBag.Title = "Index";}

<h2>Hello Delivery</h2>

<p>
    @using(Html.BeginForm("stringAdd", "index", FormMethod.Post))
    {
        @Html.TextArea("values")
        <input type="submit" />
    }
</p>
 
@if (@Model.Exception == null){
    <p>The last addition resulted in value: @Model.Result</p>
}
else{
    <p>@Model.Exception.Message</p>
}
